.CurrentOptionCard{
    background-color: #040d14 !important;
    border: 1px solid #40494e;
}
.CurrentOptionCard__body{
    border: 1px solid #40494e;
}
.optionCard__transCard{
    flex:0.9;
}

.optionCard__info{
    display: flex;
}
.optionCard__info > div{
    flex: 0.5;
    border: 1px solid #40494E;
    margin:10px;
    border-radius: 5px;
    padding:15px;
}
.optionCard__infoRow > div > p{
    margin:0px;
}
.optionCard__infoLeft > hr{
    margin:7px 0px;
    background-color: #40494E;
}
.optionCard__infoRow{
    display:flex;
}
.optionCard__infoRow > div{
    flex: 0.5;
}
.optionCard__infoRow > form{
    display:flex;
    margin-bottom: 10px;
    width:100%;
}
.optionCard__infoRow > button{
    height: 30px;
    padding: 0.2rem 0.75rem;
}

.optionCard__infoRow > form >input{
    margin-right: 15px;
    border:1px solid;
}
.optionCard__infoDetail{
    text-align: right;
}
.optionCard__trades{
    display: flex;
}
.currentInput{
    height: 23px;
}
button.currentInput{
    padding: 0px 11px !important;
    margin:0px !important;
    width:80px
}
/* .optionCard__dataTableDate{
    flex:0.3;
}
.optionCard__dataTableDate> div> input{
    max-width:172px;
}
.optionCard__dataTablePrice{
    flex:0.2;
}
.optionCard__dataTablePrice > div> input{
    max-width: 110px;
}
.optionCard__dataTableQuantity{
    flex:0.2;
}
.optionCard__dataTableQuantity > div> input{
    max-width: 110px;
}
.optionCard__dataTableTotal{
    flex:0.2;
}
.optionCard__dataTableTotal > div> select{
    max-width: 110px;
}
.optionCard__dataTableAdd{
    flex:0.1;
} */
/* .optionCard__formRow{
    display:flex;
} */
/* .optionAdd>div{
    padding-right: 10px;
} */
