.header{
    display:flex;
    justify-content: space-between;
    padding:10px 30px;
    align-items: center;
    height:10vh;
}
.header__right{
    display:flex;
}
.header__right > a{
    padding:10px;
    color:white;
    text-decoration: none;
}
.header__right > a:hover{
    color: red;
}